/*!
 *
 *
 *
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'ff-meta-serif-web-pro',  serif;
}
hr {
  border-color: #5d151c;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #5d151c;
}
a:hover,
a:focus {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ff-meta-web-pro', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* title on home page */
#title {
  font-family: "ff-meta-web-pro-condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.sans-serif {
  font-family: ff-meta-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.navbar {
  background-color: #352c2f;
}

nav a {

  color: #adacb4;
}

header  {
  position: fixed;
  width: 100%;
  min-height: auto;


  text-align: center;
  color: white;
  z-index: 100;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-bottom: 50px;
}



.text-primary {
  color: #5d151c;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.headline-text {
    font-size: 3rem;
    font-family: ff-meta-web-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 2rem;
}

/* hexagonal grid style
Inspired and adapted from https://escss.blogspot.com/2017/04/auto-hexagonal-css-grid-layout.html
*/

*, *:after, *:before {box-sizing: inherit;}
* {margin:0;padding:0;border: 0 none; position: relative;}
:root {

	--Nhexa: 4;
	--gap: 2vw;
	--size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
}
@media only screen and (min-width: 1100px) {:root {--Nhexa: 6;}}
@media only screen and (max-width: 600px) {
	:root {--Nhexa: 2;}
	.hexagon-body {margin-right: calc(var(--size) * .3);}
}

/* disabled show that all hexagons show without being clipped
.hexagon-body {
 box-sizing: border-box;
}
*/
.hexagon-body{
	padding-right: calc(var(--size) * .5);
	overflow-X: hidden;
  hyphens: auto;
  margin-top: 100px;
  padding-top: 100px;

}
.hexagon-body {
  margin: calc(var(--size) * .5) auto 0;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
	display: grid;
	grid-template-columns: repeat(var(--Nhexa), 1fr);
	grid-gap: var(--gap);
}
.hexagon-article {
  width: var(--size);
  height: calc(var(--size) / 1.1111111);
	clip-path: url(#hexagono);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin-right: calc(var(--size) / 2);
	color: #fff;
	overflow: hidden;
}
.hexagon-article:nth-child(2n) {margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);}
.hexagon-article::before {
	content: '';
	float: left;
	width: 25%;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
}
.hexagon-img {
  display: block;
  width: var(--size);
	height: var(--size);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 50%;
	transition: .75s;
	clip-path: url(#hexagono);
	clip-path: inherit;
	z-index:  10;
}


.hexagon-body > p {

	margin: 2rem 0 1rem calc(var(--size) * .5);

}
.hexagon-overlay {
  position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0.8);/*For IE6 - IE8*/
    transition:all 0.6s;
    z-index: 20;
}

.hexagon-article:hover .hexagon-overlay {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


.hexagon-text {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
font-size: 1.5rem;
hyphens: none;
}

.hexagon-text a {
  text-decoration: none;
  color: white;

}


/* end hexagonal grid code */



/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #332a2d;

}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and (max-width: 736px) {

  header {
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}
